## docker-compose configuration file for openproject web service
## 
## name this file docker-compose.yml 
## and edit the following values:
##
## YourSecretKey
## your.openproject.domain
##

version: '2'

services:
  openproject:
    image: openproject/community:8
    restart: unless-stopped
    volumes:
      - ./pgdata:/var/openproject/pgdata
      - ./assets:/var/openproject/assets
    environment:
      ##############################################
      ## Edit the following values                ##
      ##############################################
      - SECRET_KEY_BASE=YourSecretKey
      ##############################################
      #- EMAIL_DELIVERY_METHOD=smtp
      #- SMTP_ADDRESS=smtp.sendgrid.net
      #- SMTP_PORT=587
      #- SMTP_DOMAIN="${SMTP_DOM}"
      #- SMTP_AUTHENTICATION=login
      #- SMTP_ENABLE_STARTTLS_AUTO=true
      #- SMTP_USER_NAME="${SMTP_USER}"
      #- SMTP_PASSWORD="${SMTP_PASS}"
    labels:
      ##############################################
      ## Edit the following value                 ##
      ##############################################
      - traefik.frontend.rule=Host:your.openproject.domain
      ##############################################
      - traefik.port=80
      - traefik.frontend.passHostHeader=true
      - "traefik.frontend.entryPoints=http,https"
    networks:
      - traefik_network
#    ports:
#      - 80:80

networks:
  traefik_network:
    external:
      name: traefik_default
